@model TiendaVirtual.Entidades.Carrito

@{
    ViewBag.Title = "Index";
    Session["Controlador"] = "Carrito";
    Session["Vista"] = "Factura";
}

<section id="carrito" class="row">
    <h3>Contenido del carrito  @(Model?.Usuario?.Nick)</h3>
    <hr />
    <div class=" col-sm-offset-1 col-sm-10">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Artículo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>
                    <th>PVP</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LineasFactura)
                {
                    <tr>
                        <td>
                            <img alt="" class="thumbnail" height="30" width="40" src="~/fotos/(@(item.Producto.Id)).png" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Precio) €
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total) €
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <th>@Html.DisplayFor(model => model.Total) €</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="@Url.Action("Index", "Productos")">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            Volver a la Tienda
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @*<button class="btn btn-primary" id="btnFactura">Factura</button>*@
                    </td>
                    <td>
                        <p>
                           
                            @*@using (Html.BeginForm("GenerarFactura", "Carrito", FormMethod.Post, new { id = "frmCarrito", @class = "form-inline" }))
    {
                        <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span>"Factura"</button>
                        <input type="hidden" name="origenYdestino" value="'GenerarFactura','Carrito'" />
}*@
                             @Html.ActionLink("Factura", "GenerarFactura", null, new { @class = "btn btn-primary pull-right", role = "button" })
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
