
@model TiendaVirtual.Entidades.IFactura
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Backend/Views/Shared/_Layout - Backend.cshtml";
}

@*<h2>Detalle</h2>*@
        
        <h3>Factura: @Html.DisplayFor(model => model.Numero)</h3>
        <div id="datosvendedor" class="col-xs-6 col-sm-8">
            <p>Vendedorez (CopyPasteShop)</p>
            <p>dirección vendedor</p>
            <p>12.345.678Z</p>
            @* <p>Fecha: @DateTime.Now.ToShortDateString()</p>*@
            <p>Fecha: @Html.DisplayFor(model => model.Fecha, "ShortDateTime")</p>
        </div>
        <div id="datoscliente" class="col-xs-6 col-sm-4">
            <p>
                Cliente: @Html.DisplayFor(model => model.Usuario.Nick)
            </p>
            @*<p>Código Cliente: @item.Usuario.Id</p>*@
            <p>dirección cliente</p>
            <p>12.345.678Z</p>
        </div>
        <hr />
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Numero)*@
                        Número
                    </th>
                    <th>
                        @* @Html.DisplayNameFor(model => model.Fecha)*@
                        Fecha
                    </th>
                    <th colspan="5">Detalle</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Base</th>
                    <th>Iva</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-primary">
                        <strong>
                            @Html.DisplayFor(model => model.Numero)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Fecha, "ShortDateTime")
                    </td>
                    <td colspan="5"></td>
                </tr>
                @foreach (TiendaVirtual.Entidades.ILineaFactura l in Model.LineasFactura)
                {
                    <tr>
                        <td colspan="2">
                            <img alt="" class="thumbnail fotito" width="40" height="30" src="~/fotos/(@(l.Producto.Id)).png" />
                        </td>
                        <td>@l.Cantidad ud.</td>
                        <td>@l.Producto.Nombre</td>
                        <td>@l.ImporteSinIva.ToString("C")</td>
                        <td>@l.Iva.ToString("C")</td>
                        <td>@l.Total.ToString("C")</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Base</th>
                    <th> @(Model.ImporteSinIva.ToString("C"))</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>IVA</th>
                    <td></td>
                    <th> @(Model.Iva.ToString("C"))</th>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr id="finTabla">
                    <td>
                       @* @Html.ActionLink("Editar", "Edit", new { id = Model.Numero }) |*@
                        @Html.ActionLink("Volver a la lista", "Index")
                        @*, new { @class = "btn btn-primary", role = "button" })*@
                    </td>
                    <td></td>
                    <td></td>
                    <th><h3>TOTAL</h3></th>
                    <td></td>
                    <td></td>
                    <th><h3> @(Model.Total.ToString("C"))</h3></th>
                </tr>
            </tfoot>
        </table>
    
@section  BackToIndex
{
    @Html.ActionLink("CopyPasteShop BACKEND", "Index", "FacturasBack", null, new { @class = "navbar-brand" })
}


