@using TiendaVirtual.Entidades

@model IEnumerable<IFactura>

@{
    ViewBag.Title = "Facturas";
    Layout = "~/Areas/Backend/Views/Shared/_Layout - Backend.cshtml";


}

<h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp; Facturas Index</h2>

<table class="table text-center table-striped">
    <tr>
        <th></th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th class="text-center" colspan="5">
            Detalle
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Producto</th>
        <th class="text-center">Importe Sin Iva</th>
        <th class="text-center">Iva</th>
        <th class="text-center">Total</th>
    </tr>

    @foreach (var item in Model.Reverse())
    {
    <tr>
        <td>
            <div>
                @*<img alt="" class="thumbnail" width="40" height="30" src="~/fotos/(@(item.Id)).png" />*@
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha, "ShortDateTime")
        </td>
        <td colspan="5"></td>




        @{foreach (ILineaFactura l in item.LineasFactura)
        {
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>@l.Cantidad</td>
        <td>@l.Producto.Nombre</td>

        <td>@l.ImporteSinIva</td>
        <td>@l.Iva</td>
        <td>@l.Total</td>
    </tr>
    }
        }


        @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })*@
       
    </tr>
    }

</table>
@section  BackToIndex
{
    @Html.ActionLink("CopyPasteShop BACKEND", "Index", "FacturasBack", null, new { @class = "navbar-brand" })
}
